
@import 'scrollify';

.hom1{
    .logo{
        height: 40px;
        padding-left: 80px;
       
       }
       span{
        padding-left: 10px;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Abril Fatface', cursive;
       }
       
       .col-sm-8{
        padding-top: 60px;
        padding-left: 40px;
        padding-right: 40px;
       }
       
       .navbar-nav{
        padding-left: 450px;
        font-size: 15px;
       }
       .image-right{
           object-fit: cover;
           object-position: top;
           height:100vh;
       }
       
       .kid{
        padding-left: 110px;
       }
       
       h3{
        padding-right:30px;
       }
       
       .boldgreen{
        margin-top: 40px;
        width: 40px;
        height: 10px;
        background-color: peachpuff;
        margin-bottom: 40px
       }
       
       .btn{
        margin-top: 30px;
        background-color:peachpuff;
        width: 200px;
        height: 60px;
       }
       .btn:hover{
        background-color:green;
       }
       
       i {
         border: solid black;
         border-width: 0 3px 3px 0;
         display: inline-block;
         padding: 4px;
       
       }
       
       .right {
         transform: rotate(-45deg);
         -webkit-transform: rotate(-45deg);
       }
       .importance{
         color:peachpuff;
         font-weight: bold;
         padding-left: 5px;
         font-size: 16px;
         font-family:'Arimo', sans-serif;
       }
       .p{
         font-family: 'Arimo', sans-serif;
         font-size: 17px;
       }
       h2{
         font-family: 'Poppins', sans-serif;
         font-size: 40px;
       }
       h3{
         font-family: 'Slabo 27px', serif;
          color: peachpuff
       }
       .second{
         font-weight: bold;
         font-family: 'Arimo'
       }
}

.hom2{
    .imiss{
        margin-top: 50px;
      }
      .logom{
       height: 50px;
       padding-left: 30px;
       padding-bottom: 5px;
      
      }
      .ugh{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
      }
      .isee{
        padding-left: 30px;
        padding-right: 20px;
      }
      .isuu{
        font-weight: bold
      }
      .buttu{
       background-color: pink;
       height: 40px;
       margin-top: 5px;
      }
      .text{
        text-align: center;
        padding-right: 40px;
        padding-top: 6px;
        font-family: 'Arimo', sans-serif;
      }
       .ros{
       font-weight: bold;
      }
      .usericon{
       height: 20px;
       margin-bottom: 5px;
       margin-top: 3px;
      }
      .user{
       padding-left: 3px;
       font-size:15px;
      }
      .image-flow{
        object-fit: cover;
        object-position: top;
        height:100vh;
      }
      a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
      }
      
      a:hover {
        background-color: white;
      
      }
      .hom2 isuu
      .previous {
        background-color:white;
        color: black;
        width: 40px;
      }
      .eigth{
        margin-top: 60px;
        padding-left: 75px;
      }
      .next {
        background-color:black;
        color: white;
        width: 40px;
      }
      
      .round {
        border-radius: 50%;
      }
      
      .avatar {
        vertical-align: middle;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .third{
        margin-top: 70px;
      }
      .seventh{
        margin-top: 80px;
      }
      .fourth{
        margin-top: 40px;
      }
      .border{
        width: 400px
      }
      .col-sm-12{
        margin-top: 10px;
      }
}

.hom3{
    .white{
        width: 100px;
        background-color: white;
        height: 5px;
       }
       .up{
        font-weight: bold;
       }
       .borderu{
         width: 2px;
         background-color:#dee2e6;
         height: 90vh;
         margin-top: 70px;
         position: absolute;
         margin-left: 685px;
       }
       .border2{
         width: 2px;
         background-color:#dee2e6;
         height: 100vh;
         position: absolute;
         margin-left: 380px;
       }
       
       .border3{
         width: 2px;
         background-color:#dee2e6;
         height: 100vh;
         position: absolute;
         margin-left: 1000px;
       }
       .col-sm-5{
        margin-top: 35px;
        padding-left: 10px;
       }
       
       .col-sm-6{
        margin-top: 35px;
        padding-left: 100px;
       }
       img{
         object-position: top;
         height:80vh;
         width: 35vw;
         margin-top: 60px;
         object-fit: cover;
       }
       .flw{
        padding-left: 140px;
       }
        .wht{
        padding-top: 150px;
        font-size:85px;
       
       }
       .textm{
        margin-top: 100px;
        padding-left: 70px;
        color: white;
        font-size: 15px;
       }
       .white2{
        margin-top: 130px;
       }
       .number1{
         margin-top: 220px;
         padding-left: 250px;
         font-size: 22px;
       }
       .black{
        width: 95px;
        background-color:black;
        height: 2px;
        transform: rotate(90deg);
        margin-top: 40px;
        margin-left: 200px;
       }
       
       .numbers1{
         margin-top: 60px;
       }
       .numbers{
         margin-left: 240px
       }
       .button {
         border-radius: 4px;
         background-color: green;
         border: none;
         color: #FFFFFF;
         text-align: center;
         font-size: 28px;
         padding: 20px;
         width: 255px;
         transition: all 0.5s;
         cursor: pointer;
         margin: 5px;
         height: 100px;
       }
       
       .button span {
         cursor: pointer;
         display: inline-block;
         position: relative;
         transition: 0.5s;
       }
       
       .button span:after {
         content: '\00bb';
         position: absolute;
         opacity: 0;
         top: 0;
         right: -20px;
         transition: 0.5s;
       }
       
       .button:hover span {
         padding-right: 25px;
       }
       
       .button:hover span:after {
         opacity: 1;
         right: 0;
       }
       .sweety{
         margin-top: 40px
       }

}

a.btn-down {
  background: transparent;
  border-radius: 50%;
  width: 50px;
  border: solid black;
  right: 0px;
  bottom: 20px;
  position: fixed;
  z-index: 10;
  margin-right: 10px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
